
*{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
}

body{
    background-color: #1d043f;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 600px;
    margin-bottom: 24px;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
}

.container-input span{
    color: white;
    font-size: 1em;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 18px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 25px;
}

.button-cta{
    height: 40px;
    background-color: rgb(128, 73, 255);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}

.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    border: 1px solid #6a00ff;
    transition: transform 0.5s;
}
.password:hover{
    transform: scale(1.02);
}

.tooltip{
    color: #fff;
    position: relative;
    margin-top: 20px;
    padding: 6px 8px;
    background-color: #6a00ff36;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.container-password:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.hide{
    display: none;
}
